@font-face {
    font-family: 'mustica';
    src: url('../fonts/the_bold_font/MusticaPro-SemiBold.otf');
}

*{
    box-sizing: border-box;
}

.main__form {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
.formulario{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(237, 228, 228);
    width: 90%;
    height: 100%;
    padding: 3rem;
    border-radius: 30px 0 0 30px ;
    justify-self: end;
    box-shadow: 10px 0 30px;
    
}

.formulario__grupo{
    margin: 10px;
}
.formulario__grupo-input{
    position: relative;
}
.formulario__label{
    display: block;
    padding: 10px;
    cursor: pointer;
    font-family: mustica;
    font-size: 1.5rem;
}
.formulario__input{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(131, 130, 130);
    border-radius: 10px;
    height: 5vh;
}
.formulario__input:focus{
    border: 3px solid #F07012;
    outline: none;
    box-shadow: 1px 0px 30px rgba(76, 76, 76, 0.36);
}

.formulario__input-error, .formulario__input-error-duplicado{
    font-size: 1rem;
    margin: 0%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    color: rgb(162, 36, 36);
}
.formulario__grupo-error-activo{
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 4%;
    bottom:25%;
    z-index: 999;
    opacity: 0;
}
.formulario__grupo-titulo,
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar{

 grid-column: span 2;
}


.formulario__mensaje{
    line-height: 40px;
    height: 5vh;
    padding: 0 20px;
    border-radius: 10px;
    background-color: rgb(162, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: none;
    text-align: center;
}
.formulario__mensaje p{
margin: 0;
}
.formulario__mensaje-activo{
    display: block;
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__btn{
    width: 40%;
    height: 6vh;
    background-color: #F07012;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    color:rgb(237, 228, 228); 
    font-size: 2rem;
    font-family: mustica;
    transition: transform 0.3s ease-in-out;
}
.formulario__btn:hover{
    transform: scale(1.1);
}
.formulario_grupo-redireccion {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: right;
}
.formulario_grupo-redireccion a{
    list-style: none;
}

.formulario__grupo-correcto .formulario__validacion-estado{
    color: rgb(13, 235, 13);
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: rgb(162, 36, 36);
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: rgb(162, 36, 36);
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid rgb(162, 36, 36);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.formulario__grupo-titulo{
    font-family: mustica  ;
    margin: auto;
    font-size: 5rem;
    margin-top:2rem;
    margin-bottom: 2rem;
    color: #F07012;
}
#terminos {
    display: none;
  }
  
  #terminos + label {
    display: inline-block;
    position: relative;
    padding-left: 35px; /* Espacio para el checkbox personalizado */
    cursor: pointer;
  }
  
  /* Estilo del icono de verificación */
  #terminos + label::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #808080;
    border-radius: 3px;
  }
  
  /* Estilo del icono de verificación cuando está marcado */
  #terminos:checked + label::before {
    background-color: #F07012;
  }
  
  /* Estilo del icono de verificación cuando está marcado con un símbolo de marca */
  #terminos:checked + label::before {
    content: '\2713'; /* Símbolo de marca Unicode */
    text-align: center;
    color: #fff; /* Cambia el color del símbolo cuando está marcado */
  }
  
.formulario__grupo-terminos{
    display: flex;
    align-items:center;
}

.formulario__grupo-terminos a {
    color: #F07012;
    text-decoration: none;
    font-family: mustica;
    border-bottom: 3px solid #F07012;
}
.formulario_grupo-redireccion a {
    color: #101010;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: mustica ;
  }
  

  .formulario_grupo-redireccion  a:hover {
    color: #F07012;
  }
  
  .formulario_grupo-redireccion  a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px; 
    background-color: #F07012;
    transition: width 0.3s; 
  }
  
  .formulario_grupo-redireccion a:hover:after {
    width: 100%;
  }
  
  .formulario__grupo-terminos a:hover:after {
    width: 100%;
  }
  

  .formulario__grupo-terminos  a:hover {
    color: #f0b512;
    border-bottom: 3px solid #f0b512;
  }
  
  